<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <add key="ConnectString" value="server=.;uid=web_hmi;pwd=web_hmi@2017@123;database=dbWebHMI_Genco3;" />
    <add key="HostIP" value="http://10.1.5.91:8084" />
    <add key="WebserviceAPI" value="http://10.1.5.91/api/" />
    <add key="UpdatePeriod" value="1000" />
    <add key="OPCNode" value="10.1.5.91" />
    <add key="OPCServer" value="ArchestrA.FSGateway.3" />
  </appSettings>
</configuration>